@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* .poppins {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}



nav {
    display:flex;   
    align-items: center;
    justify-content:space-between;
    height:7vh;
    position:fixed;
    top:0;
     backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    padding-bottom: 2vh;
}

nav ul {
    list-style:none;
}

nav ul li {
    display:inline-block;
    margin-right:3vw;
}

nav ul li a {
    margin-left:2vw;
}

#menu-icon {
    cursor: pointer;
}

.logo {
    width: 100px;
    height:auto;
} */
